.wrapper{
    position: relative;
    top: 20vh;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    justify-items: center;
    grid-column-gap: 0px; 
    grid-row-gap: 20px; 

}
.projet_box{
    height: 20vh;
    width: 30vh;
    border-radius: 10px;
    border-style: solid;
    border-color: blanchedalmond;
    color :blanchedalmond;
    -webkit-text-stroke: 0.01px;
    -webkit-text-stroke-color: rgb(34, 34, 44);
    font-size: 250%;
    text-align: center; 
    font-weight: bold;
}
#box1{
    background-image:url(../../../image/Projet_tetris.png);
    background-size: cover;
    background-position: center;
    /* grid-area: projet1; */
    /* grid-area: 2 / 1 / auto ; */
}

img{
    width: 20vh;
    height: auto;
}

@media only screen and (max-width : 820px) {
 
    .wrapper{
        /* grid-template-columns: repeat(auto-fill,minmax(20vh,1fr)); */
        grid-template-columns: repeat(2,1fr) ;
        grid-column-gap: 15px;
        top: 12vh;
        justify-content: center;

    }
    img{
        height: auto;
        width: 10vh;
    }
}

@media only screen and (max-width : 540px) {
    body{
        overflow: visible;
    }
    .wrapper{
        grid-template-columns:  1fr;
    }
    .projet_box{
        width: 40vh;
        height: 25vh;
    }
}
