.wrapper{
    position: relative;
    top: 20vh;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    justify-items: center;
    grid-column-gap: 0px; 
    grid-row-gap: 20px; 

}
.projet_box{
    height: 20vh;
    width: 30vh;
    border-radius: 10px;
    border-style: solid;
    border-color: #303E8C;
    color :#303E8C;
    font-size: 250%;
    text-align: center; 
    font-weight: bold;
}
#box1{
    background-image:url(../../../image/Projet_tetris.png);
    background-size: cover;
    background-position: center;
    /* grid-area: projet1; */
    /* grid-area: 2 / 1 / auto ; */
}


@media only screen and (max-width : 820px) {
 
    .wrapper{
        /* grid-template-columns: repeat(auto-fill,minmax(20vh,1fr)); */
        grid-template-columns: repeat(2,1fr) ;

        /* grid-template-areas:"projet1 projet2"
                            "projet3 projet4"
                            "projet5 projet6"; */
        grid-column-gap: 15px;
        top: 12vh;
        justify-content: center;

    }
}

@media only screen and (max-width : 540px) {
    .wrapper{
        grid-template-columns:  1fr;
    }
}
