header {
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: rgba(0,0,0,1);
    padding: 2.5rem 1rem;
    z-index: 3;
  }
  nav {
    min-width: 100%;
    position: relative;
    /* bottom: 3vh; */
    display: flex;
    bottom: 3vh;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
  nav a {
    font-size: 1.2rem;
    text-decoration: none;
  }
  nav img#logo {
   /* position: fixed; */
   height: 60px;
   width: 60px;
  }
  nav ul a {
    color: whitesmoke;
    font-weight: 600;
  }
  nav ul a:hover {
    border-bottom: 2px solid red;
    color:red;

  }
  
  h1 {
    font-size: 4rem;
  }
  #ham-menu {
    display: none;
  }
  nav ul.active {
    left: 0;
  }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 85%;
    }
    header {
      /* position: relative;
      bottom: 3vh; */
      padding: 2.2rem 5rem;
    }
    nav{
      position: relative;
      bottom: 1.5vh;
    }
  }
  @media only screen and (max-width: 767px) {
    nav{
      bottom : 0.5vh;
    }
    html {
      font-size: 70%;
    }
    #ham-menu {
      cursor : pointer;
      display: block;
      color: #fff;
    }
    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
    }
    nav ul {
      background: rgba(0,0,0,1);
      /* background-color: black; */
      position: fixed;
      left: -100vw;
      top: 90px;
      width: 100vw;
      height: calc(100vh - 90px);
      /* height: calc(var(--vh, 1vh) * 100); */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: 1s;
      gap: 0;
    }
  }
  @media only screen and (max-width: 575px) {
    html {
      font-size: 60%;
    }
    header {
      padding: 2rem 3rem;
    }
    nav ul {
      top: 90px;
      height: calc(100vh - 90px);
            /* height: calc(var(--vh, 1vh) * 100); */
    }
    nav{
      bottom: 0.3vh;
    }
  }
