/* #nav-bar {
    list-style: disc;
} */
/* h2{
    color: red;
} */
header {
    position: fixed;
    height: 90px;
    width: 100%;
    background: linear-gradient(0deg, #D5E7F2 0%, #8AB5BF 40%, #3F61A6 100%);
    padding: 3rem 5rem;
    z-index: 3;
  }
  nav {
    position: relative;
    bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
  }
  nav a {
    font-size: 1.8rem;
    text-decoration: none;
  }
  nav img#logo {
   /* position: fixed; */
   height: 60px;
   width: 60px;
  }
  nav ul a {
    color: #303E8C;
    font-weight: 600;
  }
  nav ul a:hover {
    border-bottom: 2px solid #ffffff;
  }
  
  h1 {
    font-size: 4rem;
  }
  #ham-menu {
    display: none;
  }
  nav ul.active {
    left: 0;
  }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%;
    }
    header {
      /* position: relative;
      bottom: 3vh; */
      padding: 2.2rem 8rem;
    }
    nav{
      position: relative;
      bottom: 0.8vh;
    }
  }
  @media only screen and (max-width: 767px) {
    nav{
      bottom : 0.5vh;
    }
    html {
      font-size: 50%;
    }
    #ham-menu {
      cursor : pointer;
      display: block;
      color: #303E8C;
    }
    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
    }
    nav ul {
      background: linear-gradient(180deg,  #D5E7F2 0%, #8AB5BF 40%, #3F61A6 100%);
      background-color: black;
      position: fixed;
      left: -100vw;
      top: 90px;
      width: 100vw;
      height: calc(100vh - 90px);
      /* height: calc(var(--vh, 1vh) * 100); */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: 1s;
      gap: 0;
    }
  }
  @media only screen and (max-width: 575px) {
    html {
      font-size: 46.87%;
    }
    header {
      padding: 2rem 3rem;
    }
    nav ul {
      top: 90px;
      height: calc(100vh - 90px);
            height: calc(var(--vh, 1vh) * 100);
    }
    nav{
      bottom: 0.3vh;
    }
  }
