html {
    font-size: 62.5%;
}
*:not(i){
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    background-color: #F2E5BD;
}